# llm_service/requirements.txt
fastapi
uvicorn[standard]
gunicorn
tritonclient[grpc,http]
transformers
torch
# Required by transformers, ensure it matches your environment
sentencepiece
pydantic
pydantic-settings
loguru
numpy